{% extends 'layouts/app.html' %}

{% block title %}Edit :: Categories{% endblock %}

{% block content %}
	<div class="vspace-30"></div>

	<div class="container">


		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
				<h4>Edit new category</h4>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
				<p class="pull-right"></p>
			</div>
		</div>


		<div class="vspace-30"></div>


		<form method="POST" action="{{ url_for('updateCategoryAction') }}">
			<div class="form-group">
				<label>Name:</label>
				<input type="text" name="name" class="form-control form-control-sm" value="{{ category.name }}">
			</div>
			<input type="hidden" name="id" value="{{ category.id }}">
		    <button type="submit" class="btn btn-sm btn-warning">
		    	Update
			</button>
		</form>


	</div>


	<div class="vspace-30"></div>
{% endblock %}

