{% extends 'layouts/app.html' %}

{% block title %}Slides{% endblock %}

{% block content %}

	<div class="vspace-30"></div>

			<div class="container">

			<a href="{{ url_for('createNewSlide') }}" class="btn btn-sm btn-warning">
				<i class="fa fa-plus-circle"></i>
				Add new slide
			</a>
	
			<div class="vspace-30"></div>
			
			{% if slides %}		
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="50">#</th>
							<th>Image</th>
							<th>Title</th>
							<th>Subtitle</th>
							<th width="100"></th>
						</tr>
					</thead>
					<tbody>
						{% for slide in slides %}
						<tr>
							<td>{{ slide.id }}</td>
							<td width="80">
								<img src="{{ url_for('static', filename='img/slides/') }}{{ generateImageForSlide(slide.image) }}" width="70" style="display: block; margin: 0px auto;">
							</td>
							<td>{{ slide.title }}</td>
							<td>{{ slide.description }}</td>
							<td>
								<a href="{{ url_for('deleteSlideById', id=slide.id) }}" class="btn btn-sm btn-warning tn-tooltip" onclick="return confirm('Are you sure!?');" data-toggle="tooltip" data-placement="top" title="Remove slide">
									<i class="fa fa-close"></i>
								</a>
								<a href="{{ url_for('updateSlides', id=slide.id) }}" class="btn btn-sm btn-warning tn-tooltip" data-toggle="tooltip" data-placement="top" title="Edit slide">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</div>
			{% else %}
				0 slides
			{% endif %}

	<div class="vspace-30"></div>

{% endblock %}